parameters:

database:
	dsn: "mysql:host=%database.host%;dbname=%database.name%"
	user: %database.user%
	password: %database.pass%

application:
	mapping:
		*: [App, Modules\*, Endpoints\*Endpoint]


session:
	expiration: 14 days


di:
	export:
		parameters: no
		tags: no


services:
	router: App\Router\RouterFactory::createRouter
	
